body { 
    font-family: Arial;
}

#library {
    width: 90vw;
    max-width: 60rem; 
    height: 90vh; 
    background-color: lightgrey;
    border-radius: 2rem;
    margin: 3rem auto; 
    display: flex; 
    flex-direction: column;
    align-items: center;
}

#btns-container {
    width: 60%; 
    display: flex; 
    justify-content: space-around;
    margin-bottom: 2rem; 
}

#btns-container button {
    padding: 1rem; 
    background-color: lightcoral;
    border: none; 
    border-radius: 1rem;
    font-weight: 600;
    font-size: 1rem; 
    cursor: pointer; 
}

#btns-container button:hover {
    background-color: rgba(240, 128, 128, 0.832);
}

#book-container {
    width: 80%; 
    height: 80%; 
    border-radius: 1rem;
    display: flex; 
    flex-wrap: wrap;
    gap: 0.5rem; 
    overflow: auto;
}

article {
    background-color: rgb(0, 136, 16);
    border-radius: 1rem; 
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 8rem; 
    padding-top: 7%;
    padding-bottom: 10%; 
    box-shadow: 2px 0 8px rgb(0, 62, 7);
}

article h4 {
    margin-top: 0; 
    text-align: center;
}

article .info-container {
    text-align: center;
    margin-top: 40%;
}

article button {
    border-radius: 1rem;
    border: none; 
    width: 80%; 
    height: 8%; 
    font-size: 0.8rem;
    font-weight: 800;
    background-color: lightgrey; 
    color: black; 
    cursor: pointer; 
}

form {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    gap: 0.5rem; 
}

form legend {
    font-size: 1.3rem;
    margin: none; 
    padding: none; 
}